
$font-body: 'Open Sans';
$font-main: 'Montserrat';
$transition-moderate: 150ms;

* {
    box-sizing: border-box;
}

body {
    font-family: $font-body;
}

footer {
    height: 48px;
    
    .footer__container {
        padding: 16px;
        text-align: center;
    }
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-height: calc(100vh - 48px);
}

.container {
    padding: 32px 16px;
}

.icon-text {
    align-items: center;
    display: inline-flex;

    svg {
        margin-right: 8px;
    }
}

.valign {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
